.top-sell {
    width: 80%;
}

@media only screen and (min-width:992px) and (max-width:1440px) {
    .top-sell {
        width: 100%;
    }
}

@media only screen and (max-width:992px) {
    .top-sell {
        width: 100%;
    }
}