th,
tr,
td {
    border: 1px solid rgb(255, 255, 255);
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #a1539c;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 20px 30px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



tr:hover,
.styled-table tbody tr:nth-of-type(even):hover {
    background-color: rgb(206, 206, 206);
}


.add-form input {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding: 5px 1rem;
}

.add-form select {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding: 5px 1rem;
}